* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(69, 190, 167);
}
.wrapper {
  display:flex;
  flex-wrap: wrap;
  width: 624px;
  height: 624px;
  background-color: rgb(69, 190, 167);
  border: 6.9px solid rgb(69, 190, 167);
  color: rgb(69, 190, 167);
}
.square {
	flex-basis: 100px;
	height: 100px;
  background-color: rgb(193, 116, 142);
  border: 2px solid rgb(69, 190, 167);
	text-align: center;
	line-height: 100px;
	font-size: 5em;
	font-family: sans-serif;
  cursor: pointer;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
